*.apk filter=lfs diff=lfs merge=lfs -text
Core/**/*.pdf filter=lfs diff=lfs merge=lfs -text
Core/Data/**/*.json filter=lfs diff=lfs merge=lfs -text
Core/Analysis/**/*.csv filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.mmdb filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
Experiment/Results/**/*.txt filter=lfs diff=lfs merge=lfs -text
Experiment/Results/**/*.json filter=lfs diff=lfs merge=lfs -text
Dataset/zip_benign/usbabynames/2.1.2/usbabynames-2.1.2.tgz filter=lfs diff=lfs merge=lfs -text
Dataset/zip_benign/react-native-template-life/0.4.0/react-native-template-life-0.4.0.tgz filter=lfs diff=lfs merge=lfs -text
Dataset/zip_benign/c-tools-js/2.1.5/c-tools-js-2.1.5.tgz filter=lfs diff=lfs merge=lfs -text
