[submodule "all-the-package-names"]
	path = all-the-package-names
	url = https://github.com/nice-registry/all-the-package-names.git
[submodule "codeql"]
	path = codeql
	url = https://github.com/github/codeql
