.ss-avatar-cropper {
  border-radius: 50%;
  overflow: hidden;

  .ss-avatar {
    background-size: cover;
    background-position: center;
  }

  .ss-no-image {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: white;
    height: 26px;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
  }

  &.ss-avatar-xxxlg {
    width: 310px;
    height: 310px;

    .ss-avatar {
      width: 310px;
      height: 310px;
    }

    .ss-no-image {
      font-size: 120px;
      line-height: 150px;
      height: 310px;
    }
  }

  &.ss-avatar-xxlg {
    width: 80px;
    height: 80px;

    .ss-avatar {
      width: 80px;
      height: 80px;
    }

    .ss-no-image {
      font-size: 32px;
      line-height: 38px;
      height: 80px;
    }
  }

  &.ss-avatar-xlg {
    width: 50px;
    height: 50px;

    .ss-avatar {
      width: 50px;
      height: 50px;
    }

    .ss-no-image {
      height: 50px;
      font-size: 23px;
      line-height: 25px;
    }
  }

  &.ss-avatar-lg {
    min-width: 40px;
    height: 40px;

    .ss-avatar {
      width: 40px;
      height: 40px;
    }

    .ss-no-image {
      height: 40px;
      font-size: 16px;
    }
  }

  &.ss-avatar-md {
    width: 30px;
    height: 30px;

    .ss-avatar {
      width: 30px;
      height: 30px;
    }

    .ss-no-image {
      height: 30px;
      font-size: 13px;
    }
  }

  &.ss-avatar-sm {
    min-width: 26px;
    height: 26px;

    .ss-avatar {
      width: 26px;
      height: 26px;
    }

    .ss-no-image {
      height: 26px;
      font-size: 12px;
    }
  }

  &.ss-avatar-chat {
    margin-right: 8px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    .ss-no-image {
      line-height: 1;
    }
  }

  &.ss-avatar-notification {
    min-width: 30px;
    overflow: hidden;
    margin-right: 12px;
  }

  &.ss-avatar-profile {
    margin: 0 55px;
  }
}
