@import 'chat';
@import 'notifications';
@import 'profile';
@import 'ticket-metrics';
@import 'ticket-info';
@import 'publish-ticket';
@import 'feed';
@import 'avatar';
@import 'attached-ticket';
@import 'ticket-summary';
@import 'buttons';
@import 'options-dropdown.scss';

.ss-sdk {
  font-family: Rubik, sans-serif;
  height: 100%;

  ::-webkit-scrollbar{
    background: rgba(255, 255, 255, 0);
    width: 10px;
    height: 12px;
  }

  ::-webkit-scrollbar-button{
    display: none;
  }

  ::-webkit-scrollbar-thumb{
    background-color: $color-grey-border;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 6px;
    background-clip: content-box;
    transition: background-color 0.3s;
  }

  .ss-fade-enter-active, .ss-fade-leave-active {
    transition: opacity .3s;
  }

  .ss-fade-enter, .ss-fade-leave-to {
    opacity: 0;
  }
}
