@mixin font-light-bolder {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin font-light-normal {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $color-pale-salmon;
}

@mixin font-dark-normal {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: $color-brown-grey-two;
}
