.ss-user-info {
  width: 100%;
  background-color: $color-red-header;
  display: flex;
  align-items: center;
  font-family: Rubik, sans-serif;

  .ss-user-photo {
    position: relative;
    margin-right: 19px;

    .ss-little-badge {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-yellow;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    .ss-badge {
      box-sizing: border-box;
      position: absolute;
      left: 25px;
      top: 6px;
      color: $color-tomato;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      background-color: white;
      border-radius: 12px;
      padding: 0 4px;
      min-width: 18px;
    }
  }

  .ss-user-name-balance {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: white;

  }
}

.ss-account-menu-notifications {
  align-self: center; // just in case
  border-radius: 4px;
  padding: 0 10px 0 7px;
  margin: 0 16px 8px 18px;
  background-color: $color-darker-red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Rubik, sans-serif;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  height: 38px;

  &:hover {
    transition: filter .1s ease-in-out;
    filter: brightness(105%)
  }

  .ss-item-group {
    display: flex;

    .ss-menu-ico {
      margin-right: 12px;
      width: 22px;
    }

    .ss-username {
      margin-right: 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ss-badge {
      margin-right: 6px;
    }
  }

  .ss-username-count {
    max-width: 150px;
  }
}

// used in notifications and mobile feed tabs
.ss-badge {
  box-sizing: border-box;
  color: $color-tomato;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  padding: 0 4px;
  min-width: 18px;
}

.ss-notifications {
  width: 100%;
  height: 100%;
  background-color: $color-tomato;
  font-family: Rubik, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;

  &.ss-notifications-v1 {
    height: 553px;
  }

  .ss-italic {
    font-style: italic;
  }

  .ss-notifications-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;

    .ss-back-navigation {
      display: flex;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: white;

      .ss-action-name {
        opacity: .6;
      }

      img {
        transform: rotate(180deg);
        margin-right: 12px;
      }
    }

    .ss-item-group {
      display: flex;

      .ss-action-name {
        margin-left: 8px;
        color: white;
      }
    }
  }

  .ss-notifications-content {
    box-sizing: border-box;
    height: calc(100% - 12px);
    width: calc(100% - 24px);
    margin: 0 12px 12px 12px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    .ss-no-notifications {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ss-title {
        padding-top: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: $color-greyish-brown;
      }

      .ss-subtitle {
        padding-top: 6px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $color-brown-grey-two;
      }
    }

    .ss-notification-groups {
      align-self: flex-start;
      width: 100%;

      .ss-notification-group {
        padding: 12px 8px 0;

        &:not(:last-child) {
          padding-bottom: 20px;
        }

        &.ss-bottom-border {
          border-bottom: 1px solid $color-very-light-pink;
        }

        .ss-notification-group-label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0 4px 8px;

          .ss-notification-group-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $color-neutral-black;
          }

          .ss-notification-mark-as-seen {
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            gap: 3px;
            color: $color-greyish-brown;
            cursor: pointer;
          }
        }

        .ss-notification {
          display: flex;
          border-radius: 6px;
          padding: 8px;
          position: relative;

          &:hover {
            background-color: $color-dirty-white;
          }

          .ss-notification-content {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: $color-almost-black;
            width: 100%;

            .ss-notification-text {
              strong {
                font-weight: 500;
              }

              a {
                color: $color-almost-black;
                text-decoration: none;
              }
            }

            .ss-time-ago {
              font-size: 11px;
              line-height: 13px;
              color: $color-brown-grey-two;
            }

            .ss-user-requests-cta {
              .ss-btn-primary {
                margin-right: 12px;
              }
            }

            .ss-btn {
              margin-top: 10px;
            }

            .ss-cant-open-message {
              font-size: 11px;
              line-height: 14px;
              color: $color-almost-black;
              padding: 6px 9px;
              width: fit-content;
              border-radius: 6px;
              background-color: $color-mellow-orange;
              margin-top: 6px;
            }
          }

          .ss-new-notification-dot {
            width: 7px;
            height: 7px;
            border-radius: 5px;
            background: $color-red-header;
            position: absolute;
            left: 5px;
            top: 6px;
          }
        }

        .ss-notification-error {
          border-radius: 6px;
          padding: 7px;
          background-color: $color-white-two;
          margin: 5px 0 2px 0;
          width: 100%;
          font-size: 11px;
          line-height: 14px;
          color: $color-brown-grey-two;
          border: 2px solid $color-lighter-grey;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}


/***********  RESPONSIVE  ************/

@media screen and (max-width: 1279px) {
  .ss-user-info {
    .ss-user-photo {
      margin-right: 15px;

      .ss-avatar-cropper {
        width: 20px;
        height: 20px;

        .ss-avatar {
          width: 20px;
          height: 20px;
        }

        .ss-no-image {
          height: 20px;
          font-size: 10px;
          line-height: 1;
        }
      }

      .ss-badge {
        left: 14px;
        top: 1px;
      }
    }

    .ss-user-name-balance {
      display: none;
    }
  }

  .ss-account-menu-notifications {
    margin: 0 22px 8px 40px;
  }

  //.ss-notifications {
  //  height: calc(100vh - 325px);
  //}
}
