.ss-ticket-metrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  background-color: white;
  font-family: Rubik, sans-serif;

  .ss-item-group {
    display: flex;
    align-items: center;

    .ss-avatar-cropper {
      margin-right: 12px;
    }
  
    .ss-message {
      font-size: 12px;
      line-height: 16px;
      color: black;
      margin-right: 16px;
  
      .ss-username,
      .ss-others {
        font-weight: 500;
      }
    }
  }

  .ss-metrics-summary {
    padding: 6px;
    background-color: $color-white-two;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: $color-greyish-brown;
    display: flex;
    align-items: center;

    img {
      margin-right: 3px;
    }

    .ss-ticket-copy-icon {
      margin-left: 5px;
    }
  }
}
