.ss-sdk {
  .ss-attached-ticket {
    padding-left: 12px;
    margin-top: 7px;
    cursor: pointer;

    &.ss-border-left {
      border-left: 2px solid $color-greyish-brown;
    }

    .ss-ticket-summary-wrapper {
      padding: 11px;
      background-color: $color-white-two;
      border-radius: 6px;
      margin-bottom: 5px;

      &--feed {
        background-color: white;
        padding: 11px 0;
        margin: 0 -7px 5px;
      }
    }

    .ss-selections {

      .ss-selection-summary {
        &:not(:first-child) {
          margin-top: 12px;
        }

        .ss-selection-title {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 12px;
          line-height: 16px;
          color: $color-almost-black;
          margin-bottom: 2px;

          &--special {
            white-space: normal;
          }
        }

        .ss-selection-special {
          position: relative;

          &:after {
            position: absolute;
            left: 2px;
            font-family: superbet-icons, serif;
            font-weight: 400;
            font-size: 15px;
            content: '\f199';
            color: $color-yellow;
          }
        }

        .ss-selection-description {
          font-size: 11px;
          line-height: 13px;
          color: $color-brown-grey-two;
          display: flex;
          align-items: center;

          img {
            margin-right: 2px;
          }
        }
      }

      .ss-ticket-description {
        display: flex;
        align-items: center;
        margin-top: 8px;
        background-color: $color-white-two;
        border-radius: 6px;
        padding: 4px 6px;
        width: fit-content;

        .ss-more-selections-text {
            font-size: 11px;
            line-height: 13px;
            color: $color-brown-grey-two;
            margin-right: 8px;
        }
      }
    }
  }

  .ss-ticket-preview-coefficient {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-greyish-brown-two;
    margin-left: 5px;

    .ss-total-odds-text {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: normal;
      line-height: 12px;
      color: $color-brown-grey-two;
      margin-right: 8px;
    }
  }

  .ss-ticket-unavailable {
    padding: 7px 13px;
    background-color: $color-white-two;
    margin: 8px 0 5px 0;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    color: $color-brown-grey-two;

    &.ss-border-left {
      border-left: 2px solid $color-greyish-brown;
    }
  }
}
