.ss-chat-cta {
  display: flex;
  font-family: Rubik, sans-serif;
  align-items: center;
  padding: 0 13px;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;

  &.ss-new-banner {
    background-color: $color-squash;

    .ss-item-group {
      .ss-chat-cta-text,
      .ss-chat-cta-join {
        color: white;
      }

      .ss-chevron-right {
        background-color: white;
        -webkit-mask: url('../src/assets/img/shared/chevron_right.svg') no-repeat center;
        mask: url('../src/assets/img/shared/chevron_right.svg') no-repeat center;
      }
    }
  }

  .ss-item-group {
    display: flex;
    align-items: center;

    .ss-chat-cta-text {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $color-neutral-black;
    }
  
    .ss-chat-banner {
      width: 80px;
      margin-left: 16px;

      .ss-bubble {
        animation: wiggle 11s infinite;
        transform-origin: 44px;
      }
    }
  
    .ss-chat-cta-join {
      font-size: 12px;
      line-height: 18px;
      color: $color-brown-grey-three;
    }

    .ss-chevron-right {
      margin-left: 9px;
      width: 6px;
      height: 10px;
    }
  }
}

@keyframes wiggle {
  0%, 5%, 61%, 100% {
    transform: translateY(0) translateX(0) scale(0);
  }

  8%, 18%, 28%, 38%, 48%, 58%{
    transform: translateY(-2%) translateX(2%) scale(1);
  }

  15%, 25%, 35%, 45%, 55%{
    transform: translateY(2%) translateX(-2%) scale(1);
  }
}

.ss-chat {
  background-color: $color-very-light-grey;
  pointer-events: all;
  height: 100%;
  font-family: Rubik, sans-serif;

  .ss-italic {
    font-style: italic;
  }

  .ss-chat-header {
    text-transform: uppercase;
    height: 32px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    background: $color-orange;
    color: white;
    display: flex;
    align-items: center;
    position: relative;

    img {
      margin-left: 15px;
    }

    .ss-chat-header-text {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      margin-left: 12px;
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ss-close-chat {
      right: 11px;
      position: absolute;
      display: flex;
      align-items: center;
    }
  }

  .ss-chat-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.ss-chat-ticket {
      height: 100%;
    }

    &.ss-chat-event,
    &.ss-tab-height {
      height: 352px;
    }

    .ss-content {
      height: 100%;

      .ss-login-prompt-chat {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ss-login-text {
          color: $color-brown-grey-two;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          margin: 16px 0 20px;
        }

        button {
          background-color: $color-green-grass;
          border-radius: 5px;
          border: none;
          color: white;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          text-transform: uppercase;
          padding: 8px 16px;
          cursor: pointer;
        }
      }

      .ss-join-social-chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        padding: 0 10px;

        .ss-title {
          margin: 5px 0 6px;
          color: $color-greyish-brown-two;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }

        .ss-subtitle {
          color: $color-brown-grey-two;
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 15px;
        }

        .ss-preview {
          background-color: white;
          border-radius: 16px;
          margin-bottom: 6px;
          padding: 16px;

          .ss-display-name {
            color: $color-almost-black;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
          }

          .ss-name-info {
            color: $color-greyish-brown;
            font-size: 11px;
            line-height: 13px;
            margin-bottom: 17px;
          }

          button {
            padding: 6px 0 8px;
            width: 100%;
            background-color: $color-tomato;
            color: white;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: .5px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
          }
        }

        .ss-terms {
          color: $color-greyish-brown;
          font-size: 9px;
          line-height: 11px;

          a {
            color: $color-tomato;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }

    .ss-private-profile {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;

      img {
        margin-bottom: 20px;
      }

      .ss-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: center;

        strong {
          font-weight: 500;
        }
      }
    }

    .ss-user-account-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 18px;

      img {
        margin-bottom: 16px;
      }

      .ss-description {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $color-brown-grey-two;

        strong {
          font-weight: 500;
        }
      }
    }

    .ss-not-published-ticket {
      height: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 16px;
      }

      .ss-message {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $color-brown-grey-two;
      }
    }

    .ss-chat-wrap {
      height: 100%;
      position: relative;

      .ss-user-on-social {
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease-in-out;

        .ss-comments-wrapper {
          height: 100%;
          overflow-y: hidden;
          position: relative;

          .ss-fade-enter-active, .ss-fade-leave-active {
            transition: opacity .4s;
          }

          .ss-fade-enter, .ss-fade-leave-to {
            opacity: 0;
          }

          .ss-comments {
            width: 100%;
            padding: 0 0 0 7px;
            box-sizing: border-box;
            overflow-y: scroll;
            height: 100%;
            position: relative;
  
            .ss-no-comments {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
  
              img {
                width: 118px;
              }
  
              .ss-title {
                padding-top: 12px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: $color-greyish-brown;
              }
  
              .ss-subtitle {
                padding-top: 6px;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: $color-brown-grey-two;
              }
            }
  
            .ss-comment-groups {
  
              .ss-date-group {
                display: flex;
                flex-direction: column;
  
                .ss-date-timestamp {
                  margin: 16px auto;
                  align-self: center;
                  border: 1px solid $color-lighter-grey;
                  box-sizing: border-box;
                  border-radius: 14px;
                  background-color: $color-white-two;
                  padding: 7px 16px;
                  font-size: 13px;
                  line-height: 15px;
                  color: $color-greyish-brown;
                }
  
                .ss-bubble-group {
                  margin: 5px 0;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  width: 100%;
    
                  .ss-bubbles {
                    width: 100%;

                    .ss-bubble-wrapper {
                      .ss-last-seen {
                        display: flex;
                        width: calc(100% - 34px);
  
                        .ss-message {
                          margin: 0 auto 16px;
                          border: 1px solid $color-lighter-grey;
                          box-sizing: border-box;
                          border-radius: 14px;
                          background-color: $color-white-two;
                          padding: 7px 16px;
                          font-size: 13px;
                          line-height: 15px;
                          color: $color-greyish-brown;
                        }
                        
                        &::before,
                        &::after {
                          content: "";
                          height: 1px; 
                          flex: 1 1;
                          margin: 15px auto;
                        }

                        &.ss-margin-top {
                          .ss-message {
                            margin-top: 11px;
                          }

                          &::before,
                          &::after {
                            margin: 26px auto;
                          }
                        }

                        &::before {
                          background-image: linear-gradient(to right, $color-very-light-pink, 10%, $color-lighter-grey);
                        }

                        &::after {
                          background-image: linear-gradient(to left, $color-very-light-pink, 10%, $color-lighter-grey);
                        }
                      }
  
                      .ss-bubble {
                        width: fit-content;
                        border-radius: 6px;
                        margin: 2px 0;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0;
                        text-align: left;
                        background-color: white;
                        color: $color-greyish-brown;
                        padding: 8px 18px 0 8px;
                        position: relative;
                        transition: background-color 0.3s;
                        max-width: 250px;

                        &.ss-attached-ticket-max-width {
                          width: 100%;
                        }
        
                        &.ss-deleted {
                          background-color: $color-dirty-white;
                          padding-bottom: 8px;
                        }
        
                        &.ss-edited {
                          min-width: 69px;
                        }
        
                        &.ss-quote-highlighted,
                        &.ss-error {
                          background-color: $color-mellow-yellow;
                        }
        
                        &.ss-error {
                          padding-right: 25px;
                          padding-bottom: 8px;
                        }
        
                        .ss-sender-name {
                          font-size: 11px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 13px;
                          letter-spacing: 0;
                          text-align: left;
                          color: $color-almost-black;
                          display: flex;
                          align-items: center;
        
                          img {
                            margin-left: 4px;
                          }
                        }
        
                        svg {
                          position: absolute;
                          left: -6px;
                          bottom: 0;
                          transition: all 0.3s;

                          path {
                            transition: fill 0.3s;
                          }
                        }
        
                        .ss-message {
                          margin-top: 1px;
                          word-break: break-word;
                          white-space: pre-line;

                          .ss-message-link {
                            text-decoration: none;
                            color: $color-tomato;
                          }
                        }

                        .ss-link-wrapper {
                          margin-top: 6px;

                          .ss-meta-link {
                            width: 100%;
                            color: $color-greyish-brown;
                            line-height: 16px;
                            padding-left: 6px;
                            border-left: 2px solid $color-greyish-brown;

                            .ss-title-row {
                              display: flex;
                              align-items: center;
                              justify-content: space-between;

                              .ss-title {
                                width: 170px;
                                display: inline-block;
                                font-weight: 500;
                                font-size: 13px;

                                a {
                                  color: $color-greyish-brown;
                                  text-decoration: none;
                                  word-wrap: break-word;
                                }
                              }

                              // .ss-image {}
                            }

                            .ss-link-description {
                              margin-top: 1px;
                              overflow: hidden;
                              display: -webkit-box;
                              -webkit-line-clamp: 3;
                              -webkit-box-orient: vertical;
                              font-size: 13px;
                            }
                          }
                        }
        
                        .ss-time-ago {
                          font-size: 10px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 12px;
                          letter-spacing: 0;
                          text-align: right;
                          color: $color-brown-grey;
                          margin-right: -15px;
                        }
        
                        .ss-show-options {
                          position: absolute;
                          cursor: pointer;
                          width: 10px;
                          right: 5px;
                          top: 0;
                          z-index: 13;
                          background: radial-gradient(white 55%, rgba(255, 255, 255, 0));
                        }
        
                        &.ss-error {
                          .ss-show-options {
                            background: radial-gradient($color-mellow-yellow 55%, rgba(255, 255, 255, 0));
                          }
                        }

                        .ss-dropdown-options {
                          max-width: 150px;
                        }

                        .ss-reply {
                          margin: 4px 0 8px;
                          padding: 8px;
                          border-radius: 6px;
                          background-color: $color-very-light-pink;
                          display: flex;
                          cursor: pointer;
        
                          .ss-reply-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 2px 0 2px 10px;
                            border-left: 2px solid $color-greyish-brown;

                            .ss-sender {
                              color: $color-almost-black;
                              font-weight: 500;
                              font-size: 11px;
                              line-height: 13px;
                            }
        
                            .ss-message {
                              color: $color-greyish-brown;
                              font-size: 12px;
                              line-height: 14px;
                              text-overflow: ellipsis;
                              white-space: nowrap;
                              overflow: hidden;
                              max-width: 193px;
                            }
                          }
                        }
        
                        .ss-deleted-message {
                          .ss-message {
                            font-style: italic;
                            font-size: 13px;
                            line-height: 15px;
                            color: $color-brown-grey;
                            margin-top: 3px;
                          }
                        }
        
                        .ss-profane-message {
                          cursor: pointer;

                          .ss-message {
                            font-style: italic;
                            font-size: 13px;
                            line-height: 16px;
                            color: $color-brown-grey;
                          }
                        }

                        .ss-ticket-skeleton {
                          padding: 0 16px;
                          width: 226px;
                          height: 110px;
                          border-left: 2px solid $color-greyish-brown;

                          .ss-skeleton-group {
                            &:not(:last-child) {
                              margin-bottom: 14px;
                            }

                            &:first-child {
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                            }

                            .ss-skeleton-item {
                              position: relative;
                              overflow: hidden;
                              background-color: $color-very-light-pink;
                              
                              &::after {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                transform: translateX(-100%);
                                background-image: linear-gradient(
                                  90deg, 
                                  rgba(white, 0) 0, 
                                  rgba(white, .8) 50%, 
                                  rgba(white, 0) 100%
                                );
                                animation: shimmer 1.5s infinite;
                                content: '';
                              }

                              @keyframes shimmer {
                                100% {
                                  transform: translateX(100%);
                                }
                              }

                              &.ss-w100 {
                                width: 100%;
                                height: 23px;
                              }
  
                              &.ss-w85 {
                                margin-top: 6px;
                                width: 85px;
                                height: 6px;
                              }
  
                              &.ss-w65 {
                                width: 65px;
                                height: 12px;
                              }
  
                              &.ss-w42 {
                                width: 42px;
                                height: 6px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          
          .ss-scroll-to-bottom {
            position: absolute;
            right: 14px;
            bottom: 8px;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.24));
            z-index: 19;
            cursor: pointer;
          }
        }

        .ss-comment-input {
          width: 100%;
          background: $color-lighter-grey;
          box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          z-index: 10;

          .ss-reply-preview,
          .ss-edit-preview,
          .ss-ticket-preview {
            display: flex;
            margin-top: 12px;

            .ss-vertical-line {
              min-width: 2px;
              height: 38px;
              background-color: $color-greyish-brown;
              margin-left: 16px;
            }

            .ss-reply-content {
              max-width: calc(100% - 81px);
            }

            .ss-reply-content,
            .ss-edit-content {
              margin-left: 16px;
              padding-left: 12px;
              width: 100%;
              border-left: 2px solid $color-greyish-brown;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .ss-sender {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: $color-almost-black;
              }

              .ss-edit-title {
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                color: $color-almost-black;
              }

              .ss-message {
                color: $color-greyish-brown;
                font-size: 13px;
                line-height: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }

            .ss-ticket-preview-content {
              width: 100%;
              background-color: white;
              border-radius: 6px;
              margin-left: 10px;
              padding: 10px 12px;
            }

            .ss-clear-reply,
            .ss-clear-edit,
            .ss-clear-ticket-preview {
              cursor: pointer;
              margin: 0 22px 0 18px;
            }
          }

          .ss-input-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            input, textarea {
              background: white;
              border: 1px solid $color-grey-border;
              box-sizing: border-box;
              border-radius: 6px;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              height: 36px;
              width: 100%;
              padding: 9px 43px 9px 12px;
              margin: 6px 8px;
              caret-color: $color-tomato;
              font-family: Rubik, sans-serif;

              &:focus {
                border-color: $color-brown-grey-two;
                outline: none;
              }
            }

            textarea {
              overflow: hidden;
              resize: none;
            }

            .ss-restricted-input {
              background: $color-very-light-pink;
              border: 1px solid $color-grey-border;
              box-sizing: border-box;
              border-radius: 6px;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              width: 100%;
              padding: 8px 12px 8px 12px;
              margin: 6px 8px;
              color: $color-brown-grey-two;
            }

            .ss-comment-attachment {
              position: relative;
              left: -45px;
              cursor: pointer;
            }

            .ss-character-counter {
              font-size: 9px;
              line-height: 11px;
              color: $color-brown-grey;
              position: absolute;
              right: 77px;
              bottom: 15px;
            }

            .ss-comment-input-button {
              border: none;
              min-width: 32px;
              min-height: 32px;
              background-color: $color-lighter-grey;
              background-image: url(../src/assets/img/chat/send-button.svg);
              background-size: 32px;
              cursor: pointer;
              position: relative;
              left: -19px;
              transition: opacity .3s ease-in-out;

              &:disabled {
                opacity: .2;
                pointer-events: none;
              }
            }
          }
        }
      }

      .ss-report-modal {
        position: absolute;
        z-index: 22;
        top: 25%;
        background-color: white;
        box-shadow: 0 6px 30px 6px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding: 24px 24px 0;
        margin: 0 16px;

        .ss-title {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          margin-bottom: 14px;
          color: $color-almost-black;
        }

        .ss-message {
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: $color-greyish-brown;
          margin-bottom: 20px;

          .ss-username {
            font-weight: 500;
          }
        }
      }

      .ss-options {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;

        .ss-no,
        .ss-yes {
          padding: 17px 0;
          width: 50%;
          cursor: pointer;
        }

        .ss-no {
          color: $color-greyish-brown;
        }

        .ss-yes {
          color: $color-tomato;
        }
      }

      .ss-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.48);
        z-index: 21;
      }
    }

    .ss-snack-bar {
      background: $color-greyish-brown;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      padding: 16px 13px;
      color: white;
      font-size: 13px;
      line-height: 15px;
      z-index: 20;
      position: absolute;
      box-sizing: border-box;
      margin: 0 12px;
      width: calc(100% - 24px);
      bottom: 12px;
    }
  }
}

.ss-box-shadow {
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.16);
}

.ss-border-radius {
  border-radius: 3px 3px 0 0;
}

/***********  RESPONSIVE  ************/

@media screen and (max-width: 1279px) {
  .ss-chat-cta {
    display: none;
  }

  .ss-chat {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .ss-comments {
    overscroll-behavior-y: contain;
  }
}
