.ss-sdk .ss-feed {
  font-family: Rubik, sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 340px auto max-content;
  grid-row-gap: 0;
  height: 100%;

  & > :not(:first-child) {
    margin-left: 16px;
  }

  .ss-profile-info-sidebar {
    height: fit-content;
    position: sticky;
    top: 70px;

    .ss-profile-options {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ss-show-options {
        margin: 0 3px 10px 0;
        cursor: pointer;
      }

      .ss-dropdown-options {
        right: 0;
        top: 20px;
      }
    }

    .ss-profile-info-wrapper {
      background: $color-red-header;
      border-radius: 6px;
      padding: 20px 12px 12px;
      display: flex;
      flex-direction: column;
      height: calc(100 * var(--vh) - 80px);

      &.ss-not-current-user {
        height: auto;
      }

      .ss-approve-decline-cta {
        display: flex;
        gap: 9px;
      }

      .ss-user-info-wrap {
        text-align: center;
        color: white;
        margin: 4px 0 0;
        height: auto;

        .ss-user-info {
          padding-bottom: 8px;
          display: flex;
          background: unset;
          justify-content: space-evenly;
          align-items: flex-end;
          width: 100%;
          margin: auto;

          .ss-user-avatar {
            .ss-avatar-lg {
              width: 50px;
              height: 50px;
              margin: 0 12px;

              .ss-avatar {
                width: 50px;
                height: 50px;
              }

              .ss-no-image {
                height: 50px;
                font-size: 20px;
                font-weight: 500;
              }
            }
          }

          .ss-user-followers, .ss-user-following {
            .ss-follower-count, .ss-following-count, .ss-name {
              @include font-light-bolder;
            }

            .ss-following-label, .ss-followers-label {
              @include font-light-normal;
              text-decoration: none;
            }

            img {
              vertical-align: -1px;
              padding-left: 4px;
            }
          }
        }

        .ss-user-description {
          .ss-name {
            @include font-light-bolder;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              padding-left: 5px;
            }
          }

          .ss-description {
            margin-top: 9px;
            @include font-light-normal;
          }
        }

        .ss-user-button {
          display: flex;
          justify-content: center;

          .ss-approve-decline-cta {
            justify-content: space-between;
            width: 100%;
            padding-top: 16px;

            button {
              flex: 1;

              &.ss-btn-primary {
                background: white;
                color: $color-red-header;
              }

              &.ss-btn-primary-transparent {
                color: white;
                width: 100%;
                border: 2px solid white;
              }
            }
          }
        }

        .ss-user-info-cta {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 16px;

          .ss-following-tick-mark {
            position: relative;
            transition: width 0.5s;
            width: 32px;
            height: 32px;
            border-radius: 24px;
            padding: 0;
            display: block;

            &::before {
              position: absolute;
              top: 14px;
              height: 10px;
              width: 3px;
              background-color: $color-red-header;
              content: "";
              transform: translateX(0) rotate(-45deg);
              transform-origin: left bottom;
              border-radius: 1px;
              left: 46%;
            }

            &::after {
              position: absolute;
              bottom: 8px;
              height: 3px;
              width: 15px;
              background-color: $color-red-header;
              content: "";
              transform: translateX(0) rotate(-45deg);
              transform-origin: left bottom;
              border-radius: 1px;
              left: 46%;
            }
          }

          .ss-btn-primary-white {
            background: white;
            width: 100%;
            text-decoration: none;
            color: $color-red-header;
          }

          .ss-btn-primary-transparent {
            color: white;
            width: 100%;
            border: 2px solid white;
          }

          .ss-btn-primary-width-auto {
            width: auto;
          }
        }
      }

      .ss-user-activity-wrap {
        padding-top: 20px;
        flex-grow: 1;
        overflow: hidden;
        border-radius: 6px;

        .ss-activity-header {
          padding: 16px 16px 0;

          .ss-label-new {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $color-greyish-brown-two;
            cursor: pointer;
          }
        }

        .ss-feed-notifications {
          background: white;
          width: 100%;
          border-radius: 6px;
          height: 100%;
          overflow-y: auto;

          &.ss-empty-state-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .ss-empty-state {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            .ss-no-notifications-title {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: $color-greyish-brown;
              margin-bottom: 6px;
            }

            .ss-no-notifications-description {
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: $color-brown-grey-two;
            }
          }

          .ss-notifications-content {
            margin: 0;
            width: 100%;
            overflow: auto;
            height: 100%;

            .ss-notification-groups {
              display: flex;
              flex-direction: column;
              gap: 8px;
              background: $color-white-two;

              .ss-notification-group {
                padding: 12px 8px;
                background: white;
              }
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .ss-btn-primary-transparent {
    background: rgba(255, 255, 255, 0);
    color: $color-almost-black;
    border: 1px solid $color-light-neutral-white;
    padding: 8px 16px;
    width: auto;
    display: block;
    font-size: 14px;
    line-height: 17px;
  }

  .ss-back-navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    padding: 5px 8px 15px;
    font-size: 12px;
    line-height: 14px;
    color: $color-brown-grey-two;
    text-transform: uppercase;
    width: fit-content;
    white-space: nowrap;

    img {
      margin-right: 8px;
    }
  }

  .ss-feed-content {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .ss-ticket-details, .ss-user-profile {
      width: 100%;
    }

    .ss-ticket-details {
      height: 100%;
      display: flex;

      .ss-ticket-details-info {
        border-right: 1px solid $color-white-neutral;
        display: flex;
        flex-direction: column;
        padding-right: 11px;
        margin-right: 11px;

        .ss-expanded-ticket-info-wrapper {
          margin-bottom: 12px;
        }

        .ss-add-all-to-betslip {
          background-color: white;
          border-radius: 6px;
          padding: 12px;
          display: flex;
          flex-direction: column;

          .ss-ticket-details-metrics {
            padding-top: 0;

            &--inactive {
              padding: 0;
              margin-bottom: 0;
            }
          }

          .ss-add-to-betslip-button {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            background-color: $color-red-header;
            padding: 8px 0;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            color: white;
            text-transform: uppercase;
          }
        }

        .ss-ticket-details-info-slot {
          border-radius: 6px;

          &.ss-ticket-details-info-margin {
            margin-top: 12px;
          }

          .ticket-stack-widget__selection-list {
            overscroll-behavior: unset;
          }

          .ticket-stack-widget__selection-item {
            margin-bottom: 0;
          }
        }

        .ss-ticket-details-system {
          background-color: white;
          border-radius: 6px;
          padding: 16px 12px 4px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-top: 12px;

          .ss-ticket-details-system-info {
            width: 100px;
            padding: 7px 0;
            background-color: $color-lighter-grey;
            color: $color-greyish-brown-two;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            border-radius: 5px;
            margin: 0 auto 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .ss-ticket-details-container {
          padding: 17px 12px;
          background-color: white;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 12px;

          .ss-ticket-details-code-time {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .ss-ticket-details-code {
              font-weight: 700;
              font-size: 19px;
              line-height: 19px;
              color: black;
            }

            .ss-ticket-details-time {
              font-weight: 500;
              font-size: 11px;
              line-height: 13px;
              text-align: right;
              color: $color-brown-grey-two;
              text-transform: uppercase;
            }
          }

          .cashout-widget {
            width: 100%;
            margin-top: 12px;
          }
        }

        .ss-ticket-details-recreate {
          width: 100%;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px;
          background: white;
          margin-top: 12px;

          .ss-ticket-details-recreate-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $color-greyish-brown;
            margin-right: 36px;
          }

          .ss-ticket-details-recreate-button {
            border-radius: 5px;
            background-color: $color-red-header;
            border: none;
            padding: 10px 14px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: white;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            cursor: pointer;

            img {
              margin-right: 8px;
            }
          }
        }
      }

      .ss-ticket-details-info,
      .ss-ticket-details-interactions {
        width: 50%;
      }

      .ss-ticket-details-interactions {
        display: flex;
        flex-direction: column;
        height: calc(100 * var(--vh) - 80px);
        position: sticky;
        top: 70px;

        .ss-ticket-chat-wrapper {
          max-height: calc(100% - 165px);
          margin-top: 12px;
          border-radius: 6px;
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          &--owner {
            max-height: calc(100% - 85px);
          }

          .ss-ticket-chat-header {
            background-color: $color-light-grey;
            padding: 8px 15px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $color-neutral-black;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
          }

          .ss-chat {
            flex: 1;
            height: calc(100% - 35px);
          }

          .ss-comment-input {
            border-radius: 0 0 6px 6px;
          }
        }
      }
    }

    .ss-user-account-info {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      display: flex;
      padding: 0 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;

      .ss-user-account-info-msg {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        margin-top: 20px;
        text-align: center;
        color: $color-brown-grey-two;

        .ss-private-profile-username {
          font-weight: 500;
        }
      }
    }

    .ss-ticket-feed-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;

      .ss-ticket-publish-wrap {
        z-index: 3;
        top: 0;
        position: sticky;
        background: $color-light-neutral-blue;

        &.ss-is-scrolled {
          padding-top: 12px;
          top: 58px;
        }

        .ss-ticket-publish {
          border-radius: 6px;
          background: white;
          border: none;
          display: flex;
          padding: 11px 12px;
          align-items: center;
          filter: drop-shadow(0px 1px 1px $color-white-neutral);

          .ss-ticket-publish-tabs {
            display: flex;
            padding-right: 9px;

            .ss-ticket-publish-tab {
              border: 1px solid $color-very-light-grey;
              border-radius: 24px;
              padding: 7px 10px;
              margin: 0 3px;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              color: $color-greyish-brown;

              &.active {
                transition: all 0.4s;
                background: $color-red-header;
                border: 1px solid $color-red-header;
                color: white;
              }
            }
          }

          .ss-ticket-publish-cta-wrap {
            display: flex;
            flex: 1;
            padding-left: 9px;
            border-left: 1px solid $color-white-neutral;
            justify-content: space-between;

            .ss-ticket-publish-cta {
              display: flex;
              align-items: center;

              img {
                margin-top: 3px;
              }

              .ss-ticket-publish-placeholder {
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                padding-left: 9px;
                color: $color-brown-grey-two;
              }
            }

            img {
              margin-left: 2px;
            }
          }
        }
      }

      .ss-ticket-feed-empty {
        flex: 1;
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $color-brown-grey-two;

        .ss-empty-state {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 16px;
          margin: auto 0;

          img {
            margin-bottom: 16px;
          }
        }
      }

      .ss-ticket-feed {
        flex: 1;
        display: flex;
        flex-direction: column;

        .ss-fade-enter-active, .ss-fade-leave-active {
          transition: opacity .5s;
        }

        .ss-ticket {
          position: relative;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          margin-top: 12px;

          .ss-ticket-owner-wrapper {
            position: relative;
            z-index: 1;

            .ss-ticket-owner {
              display: flex;
              top: 11px;
              align-items: center;
              padding: 8px 8px 7px 0;
              margin-left: 2px;
              width: 100%;
              background: $color-light-neutral-blue;
              border-bottom-left-radius: 25px;

              .ss-avatar-md {
                margin: 0 8px;
              }

              .ss-owner-info {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: $color-almost-black;
                flex: 1;

                .ss-ticket-published {
                  @include font-dark-normal;
                }
              }

              .ss-toggle-dropdown-dots {
                display: flex;
              }
            }

            .ss-dropdown-options {
              right: 4px;
              top: 40px;

              ul {
                li {
                  padding: 10px 12px;
                }
              }
            }
          }

          .ss-attached-ticket-info {
            min-height: 138px;
            border-radius: 6px;
            padding: 0 12px 12px;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .ss-attached-ticket-decoration {
              position: absolute;
              background: white;
              width: 30px;
              height: 22px;
              z-index: 0;
              left: 0;
              top: 30px;
              border-top-left-radius: 4px;
            }

            .ss-attached-ticket {
              padding: 5px 7px;
            }
          }

          .ss-feed-comments {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 11px;

            .tooltip-wrapper {
              width: 100%;
              margin-right: 22px;

              .tooltip--bottom {
                left: 0;
                top: -30px;
                bottom: unset;
                width: fit-content;
              }
            }

            .ss-comment {
              border: 0.5px solid $color-light-neutral-white;
              border-radius: 19px;
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              padding: 9px;

              &.ss-disabled {
                background-color: $color-white-two;
                border-color: $color-light-neutral-white;

                .ss-avatar-sm {
                  opacity: .5;
                }

                .ss-comment-input {
                  color: $color-brown-grey-two;
                  cursor: default;
                }
              }

              .ss-avatar-sm {
                margin: 0;
                min-width: 20px;
                height: 20px;

                .ss-avatar {
                  width: 20px;
                  height: 20px;
                }

                .ss-no-image {
                  height: 20px;
                  font-size: 9px;
                }
              }

              .ss-comment-input {
                color: $color-almost-black;
                font-size: 13px;
                font-weight: normal;
                padding-left: 12px;
                border: none;
                width: 100%;
                outline: none;
              }

              .ss-comment-word-counter {
                position: absolute;
                bottom: -6px;
                left: 50px;
                background: white;
                padding: 0 5px;
                font-weight: 400;
                font-size: 9px;
                line-height: 11px;
                color: $color-brown-grey;

                &.ss-comment-word-validate-warn {
                  span {
                    color: $color-tomato;
                  }
                }
              }
            }

            .ss-reactions {
              display: flex;
              width: auto;

              .ss-likes, .ss-dislikes {
                display: flex;
                align-items: center;
                width: 50px;
                justify-content: space-evenly;

                svg {
                  path, rect {
                    fill: rgba(255, 255, 255, 0);
                    stroke: $color-brown-grey-two;
                  }

                  &.ss-active {
                    path, rect {
                      fill: $color-sunflower-yellow;
                      stroke: $color-greyish-brown-two;
                    }
                  }
                }

                .ss-likes-count, .ss-dislikes-count {
                  font-size: 12px;
                  color: $color-greyish-brown-two;
                  font-weight: 500;
                  text-align: center;
                  line-height: 18px;
                }

                .ss-dislike-btn {
                  transform: rotate(180deg);
                }

                .ss-feed-reaction {
                  cursor: pointer;
                }
              }

              .ss-post-reactions-border {
                width: 1px;
                height: 18px;
                background-color: $color-light-neutral-white;
              }
            }
          }
        }
      }
    }

    .ss-followers-list {
      flex: 1;
      display: flex;
      flex-direction: column;

      .ss-followers-list-header {
        position: sticky;
        top: 62px;
        background: $color-light-neutral-blue;

        &.ss-is-scrolled {
          padding-top: 9px;
        }

        .ss-back-to-profile {
          padding: 15px 0;
          display: flex;
          align-items: center;

          .ss-label {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $color-brown-grey-two;
            text-transform: uppercase;
          }

          img {
            padding-right: 6px;
          }
        }

        .ss-followers-list-tabs {
          display: flex;
          position: relative;
          gap: 2px;
          background: $color-white-neutral;
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
          border-radius: 6px;

          .ss-followers-tab,
          .ss-following-tab {
            background: white;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            padding: 12px 0;
            cursor: pointer;
            color: $color-neutral-grey;
            transition: color 0.5s;
            width: 50%;
            text-align: center;
            border-bottom: 2px rgba(255, 255, 255, 0);

            &.active {
              color: $color-neutral-black;
              border-bottom: 2px solid $color-red-header;
            }
          }

          .ss-followers-tab {
            border-top-left-radius: 6px;
          }

          .ss-following-tab {
            border-top-right-radius: 6px;
          }
        }
      }

      .ss-followers-list-users {
        height: 100%;
        display: flex;

        .ss-suggestions-wrapper {
          margin-top: 8px;
          flex: 1;
          overflow-y: auto;

          .ss-suggested-friend {
            height: 74px;
            margin-bottom: 2px;
            border-radius: 0;

            .ss-suggestion-avatar {
              .ss-avatar-lg {
                margin: 0 12px;
              }
            }
          }
        }
      }

      .ss-no-suggestions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $color-brown-grey-two;
        padding: 0 20px;

        img {
          margin-bottom: 16px;
          width: 192px;
        }
      }
    }
  }

  .ss-right-sidebar {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 472px;
  }

  .ss-share-profile {
    padding: 16px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 18px;

    .ss-copy-profile-link {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .ss-share-text {
        font-weight: 700;
        line-height: 22px;
        color: $color-neutral-black;
      }

      .ss-share-link {
        font-weight: 500;
        line-height: 17px;
        color: $color-red-header;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .ss-suggestions-sidebar {
    color: $color-greyish-brown-two;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.ss-suggestions-wrap-desktop {
      height: 390px;
      width: 280px;
    }

    .ss-suggested-friends {
      margin-top: 7px;

      .ss-suggested-friends-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ss-suggested-friends-label {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $color-greyish-brown-two;
          word-break: break-word;
          margin-right: 10px;
          text-align: left;
        }

        .ss-suggested-friends-see-more {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: $color-brown-grey-two;
          cursor: pointer;
          min-width: max-content;

          img {
            vertical-align: -1px;
            padding-left: 4px;
          }
        }
      }

      .ss-suggestions-empty {
        display: flex;
        flex-direction: column;
        padding: 25px;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
        color: #848484;
        font-weight: 400;

        img {
          padding-bottom: 18px;
        }
      }
    }
  }

  .ss-suggestions-wrapper, .ss-suggestions-wrapper-modal {
    // TODO: change this (it's only added to target third column where we have sugg. wrapper inside sugg. wrapper)
    .ss-suggestions-wrapper {
      margin-top: 14px;
    }
  }
}

.ss-sdk .ss-suggested-friend {
  height: 64px;
  width: 100%;
  border-radius: 6px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .ss-suggestion-avatar {
    .ss-avatar-md {
      margin: 0 8px;
    }
  }

  .ss-suggestion-info {
    width: inherit;
    padding-right: 4px;
    overflow: hidden;

    .ss-suggested-friend-follower, .ss-suggested-friend-following {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $color-brown-grey-two;
      padding-top: 2px;

      span {
        color: $color-almost-black;
      }
    }

    .ss-suggested-friend-name-wrap {
      display: flex;
      padding-right: 10px;

      .ss-suggested-friend-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: $color-greyish-brown-two;
        word-break: break-word;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 3px;
      }

      img {
        vertical-align: sub;
        width: 15px;
        height: 15px;
      }
    }
  }

  .ss-suggestion-cta {
    padding-right: 12px;
    white-space: nowrap;
  }
}

.ss-sdk .ss-feed-tabs-mobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 12px;
  width: 100%;
  background: $color-red-header;
  position: fixed;
  top: 40px;
  z-index: 501;
  left: 0;

  .ss-feed-tab {
    padding: 8px 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.003em;
    display: flex;
    align-items: center;
    color: white;

    &.active {
      border-bottom: 2px solid white;
    }

    .ss-badge {
      margin-left: 6px;
    }
  }
}

.ss-sdk .ss-join-social-cta,
.ss-sdk .ss-user-profile {
  .ss-error-generic {
    color: $color-neutral-black;
    border-left: 2px solid $color-light-red;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 12px;
    border-radius: 0 4px 4px 0;
    height: auto;
    font-weight: 400;
  }
}

.ss-sdk .ss-join-social-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 390px;
  background: white;
  padding: 30px 20px;
  margin: auto;
  border-radius: 16px;
  position: sticky;
  top: 100px;

  .ss-title {
    color: $color-almost-black;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 12px;
  }

  .ss-subtitle {
    color: $color-greyish-brown;
    font-weight: 400;
    font-size: 14px;
    width: 285px;
    line-height: 18px;
  }

  .ss-join-social-border {
    background: $color-white-neutral;
    height: 1px;
    width: 90px;
    margin: 40px 0;
  }

  .ss-add-profile-picture-cta {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 12px 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
    color: $color-red-header;
    border: none;
  }

  .ss-join-social-cta-avatar {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    opacity: 1;
    transition: opacity 2s linear;
  }

  .ss-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;

    .ss-display-name {
      color: $color-almost-black;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    .ss-name-info {
      color: $color-greyish-brown;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      width: 75%;
    }

    .ss-btn-primary {
      margin-top: 40px;
      width: 100%;
      height: 44px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .ss-terms {
    color: $color-greyish-brown;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    a {
      color: $color-tomato;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.ss-sdk .ss-login-prompt {
  width: 390px;
  padding: 20px;
  border-radius: 16px;
  margin: auto;
  text-align: center;
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 100px;

  .ss-login-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ss-login-text-title {
      color: $color-almost-black;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin: 45px 0 0;
    }

    .ss-login-text-description {
      color: $color-greyish-brown;
      font-weight: 400;
      font-size: 14px;
      width: 300px;
      line-height: 18px;
      margin: 12px 0 0;
    }
  }

  button {
    background-color: $color-green-grass;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 20px;
  }
}

@media (hover: hover) {
  .ss-sdk .ss-feed {

    a:hover {
      color: inherit;
    }

    .ss-reactions {
      .ss-dislikes, .ss-likes {
        .ss-feed-reaction:hover {
          path, rect {
            fill: $color-sunflower-yellow;
            stroke: $color-greyish-brown-two;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .ss-sdk .ss-feed {
    grid-template-columns: 340px auto;

    .ss-feed-content {
      min-height: 100%;

      .ss-share-profile {
        margin-top: 16px;
        width: 100%;
      }

      .ss-suggestions-wrap-mobile {
        width: 100%;
        margin-top: 16px;

        .ss-suggestions-wrapper {
          display: flex;
          overflow: auto;
          justify-content: space-between;
          gap: 12px;
          width: 100%;

          .ss-suggested-friend {
            height: 173px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 24px 16px;
            gap: 13px;
            margin-bottom: 0;

            .ss-suggestion-info {
              flex: unset;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: auto;
              padding-right: 0;

              .ss-suggested-friend-name-wrap {
                padding-right: 0;

                .ss-suggested-friend-name {
                  max-width: 116px;
                }
              }
            }

            .ss-suggestion-cta {
              padding-right: 0;
              justify-self: flex-end;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1330px) and (min-width: 1280px) {
  .ss-sdk .ss-feed {
    grid-template-columns: 300px auto max-content;
  }
}

@media screen and (max-width: 1279px) {
  .ss-sdk .ss-join-social-cta {
    width: 100%;
    max-width: 390px;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    justify-content: center;
    height: 100%;

    .ss-join-social-border {
      display: none;
    }

    .ss-subtitle, .ss-terms {
      width: 83%;
    }

    .ss-preview {
      margin-top: 48px;
      background: white;
      border-radius: 16px;
      padding: 42px 20px 24px;
      position: relative;

      img {
        position: absolute;
        top: -32px;
      }

      .ss-add-profile-picture-cta {
        margin: 0 0 16px;
      }

      .ss-btn-primary {
        margin-top: 20px;
      }
    }
  }

  .ss-sdk .ss-login-prompt {
    width: 100%;
    justify-content: flex-start;
    max-width: 390px;
    padding: 0;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0);
    height: 100%;

    .ss-login-text {
      width: 100%;
      margin-top: 80px;
      background: white;
      border-radius: 16px;
      padding: 24px 20px 20px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

      .ss-login-text-title {
        margin-top: 0;
      }

      .ss-login-text-description {
        width: 255px;
        margin-top: 6px;
      }
    }

    button {
      margin-top: 24px;
    }
  }

  html:not(.full-screen) .ss-sdk .ss-feed.ss-not-current-user {
    min-height: calc(100 * var(--vh) - 120px);
    height: auto;
  }

  .ss-sdk .ss-feed {
    display: flex;
    flex-direction: column;

    & > :not(:first-child) {
      margin-left: 0;
    }

    .ss-profile-info-sidebar {
      .ss-profile-info-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(100 * var(--vh) - 120px);
        border-radius: 0;
        background: $color-tomato;

        &.ss-not-current-user {
          border-radius: 6px;
          background: $color-red-header;
        }
      }

      &.ss-not-current-user {
        position: unset;
        padding: 8px 8px 0;
      }
    }

    .ss-feed-content {
      width: 100%;
      flex-direction: column;
      flex-grow: 1;
      padding: 8px;

      &.ss-not-current-user {
        max-height: calc(100% - 209px);
        min-height: 300px;
      }

      .ss-ticket-feed-wrap {
        .ss-ticket-publish-wrap.ss-is-scrolled {
          top: 73px;
        }

        .ss-user-account-info, .ss-ticket-feed-empty {
          width: 100%;
          flex: 1;

          &.ss-non-existing-account {
            height: calc(100 * var(--vh) - 290px);
          }
        }
      }

      .ss-followers-list {
        .ss-followers-list-header {
          &.ss-is-scrolled {
            padding-top: 21px;
          }
        }
      }

      .ss-ticket-details .ss-ticket-details-interactions {
        width: 100%;
        height: 100%;

        .ss-back-navigation {
          padding-bottom: 5px;
        }

        .ss-ticket-chat-wrapper {
          position: unset;
          top: unset;
          max-height: calc(100% - 85px);

          .ss-chat {
            background-color: $color-light-neutral-blue;
          }
        }
      }

      .ss-ticket-details .ss-ticket-details-info {
        width: 100%;
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
      }

      .ss-ticket-details {
        flex-direction: column;
        height: 100%;

        .ss-ticket-details-info {
          height: 100%;
        }

        .ss-comments-nav {
          position: sticky;
          bottom: calc(55px + env(safe-area-inset-bottom));
          margin-top: 10px;
          padding: 0 15px;
          border-radius: 6px;
          background-color: $color-squash;
          box-shadow: 1px 1px 3px rgba(227, 227, 227, 0.3), -3px 2px 5px rgba(227, 227, 227, 0.8);
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .ss-comments-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: white;
          }

          .ss-item-group {
            display: flex;
            align-items: center;

            .ss-chevron-right {
              margin-left: 25px;
              width: 6px;
              height: 10px;
              background-color: white;
              -webkit-mask: url('../src/assets/img/shared/chevron_right.svg') no-repeat center;
              mask: url('../src/assets/img/shared/chevron_right.svg') no-repeat center;
            }
          }
        }
      }

      .ss-suggestions-wrap-mobile {
        .ss-suggestions-wrapper {
          .ss-suggested-friend {
            min-width: 160px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .ss-sdk .ss-feed {
    .ss-feed-content {
      .ss-ticket-feed-wrap {
        .ss-ticket-publish-wrap {
          .ss-ticket-publish {
            .ss-ticket-publish-cta-wrap {
              padding-left: 12px;

              .ss-ticket-publish-cta {
                img {
                  display: none;
                }

                .ss-ticket-publish-placeholder {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }

    .ss-followers-list {
      .ss-followers-list-header {
        .ss-back-to-profile {
          padding-top: 0;
        }
      }

      .ss-suggestions-wrapper {
        .ss-suggested-friend {

          .ss-suggestion-info {
            width: 38vw;
            margin-right: auto;
          }
        }
      }
    }
  }
}
