.ss-sdk.ss-open-social {
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: $color-squash;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .ss-item-group {
    height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: white;
    display: flex;
    align-items: center;

    .ss-social-icon {
      width: 19px;
      margin-right: 12px;
    }

    .ss-chat-bubbles {
      width: 82px;
    }
  }
}
