.ss-publish-ticket {
  display: flex;
  flex-direction: column;
  padding: 12px 6px;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  font-family: Rubik;
  margin: 4px 0 5px 0;

  .ss-publish-ticket-info {
    display: flex;
    align-items: center;
    margin-right: 6px;

    .ss-publish-ticket-text {
      font-size: 12px;
      line-height: 14px;
      color: $color-greyish-brown;
      margin-left: 6px;
    }
  }

  .ss-publish-ticket-button {
    cursor: pointer;
    margin: 13px 6px 0;
    outline: none;
    border: none;
    background-color: $color-red-header;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 8px 0;

    &:hover {
      background-color: $color-tomato;
    }
  }
}