
// Fade

.ss-fade-enter-active, .ss-fade-leave-active {
  transition: opacity .4s;
}

.ss-fade-enter, .ss-fade-leave-to {
  opacity: 0;
}


// Slide

.ss-slide-left-enter-active,
.ss-slide-right-enter-active,
.ss-slide-left-leave-active,
.ss-slide-right-leave-active {
  transition: transform .1s ease-in, background-color .1s ease-in, opacity .1s ease-in, max-height .1s ease-in;
  max-height: 100%;
}

.ss-slide-left-enter,
.ss-slide-right-leave-to {
  transform: translateX(100%);
  max-height: 100%;
}

.ss-slide-right-enter,
.ss-slide-left-leave-to {
  transform: translate(-100%);
}

.ss-slide-left-enter,
.ss-slide-left-leave-to,
.ss-slide-right-enter,
.ss-slide-right-leave-to {
  opacity: 0;
}
