$color-very-light-pink: #EFEFEF;
$color-white-neutral: #E3E3E3;
$color-white-two: #F7F7F7;

$color-mellow-yellow: #FFF2DC;
$color-yellow: #FFCC33;

$color-mellow-orange: #FFF2DC;
$color-orange: #EF8A00;
$color-orange-darker: #D27900;
$color-squash: #F2981B;

$color-pale-salmon: #E9BBB7;
$color-vivid-salmon: #FB6969;
$color-light-red: #FF6255;
$color-tomato: #c81e10;
$color-red-header: #EA060A;
$color-dark-red: #B92317;
$color-darker-red: #A11D12;
$color-brick: #A31C1C;

$color-muted-purple: #6D597A;

$color-dull-teal: #07ACAE;
$color-stormy-blue: #5583A3;
$color-dark-slate-blue: #244770;
$color-dark-grey-blue: #364957;

$color-avocado-green: #73AD21;
$color-green-grass: #429826;
$color-viridian: #258A54;

$color-dirty-white: #F6F6F6;
$color-lighter-grey: #E5E5E5;
$color-light-grey: #DADCDE;
$color-grey-border: #BABABA;
$color-brown-grey-three: #999999;
$color-brown-grey-two: #848484;
$color-brown-grey: #A0A0A0;
$color-neutral-grey: #777777;
$color-greyish-brown: #515151;
$color-greyish-brown-two: #3D3D3D;
$color-dark-grey: #4A4A4A;

$color-pale-brown: #B0866F;
$color-dirt-brown: #70312B;

$color-neutral-black: #333333;
$color-almost-black: #212121;

$color-light-neutral-white: #D5D5D5;
$color-very-light-grey: #EEEEEE;
$color-light-neutral-blue: #F2F4F6;
$color-sunflower-yellow: #FFCE05;